body {
			
			margin: 0;
			font-family: 'Karla', sans-serif;
			background-color: white;
		}
		#container {
			background-color: white;
			margin: 0 auto;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			overflow: auto;
			margin-right: 30px;
		}
		
		
		nav ul {
			  list-style-type: none;
			  margin: 0;
			  padding: 0;
			  padding-right: 20px;
			  float: right;
			  margin-bottom: 20px;
			  margin-top: 20px;
			  margin-left: 200px;
			  border-bottom: 1px solid black;
			  position: relative;
			  
			}
		nav li {
				  display: inline;
				  
				}
		nav li a {
			padding: 20px;
			text-decoration: none; 
			font-size: 30px;
			font-weight: bold;
			text-transform: uppercase;
			color: grey;
			letter-spacing:3px;
			
			
		}
		nav li a.active {
			color: #eec03a;
		}
		a:hover {
			color: #ecc5a2;
		}

		main {
			padding-left: 20px;
			padding-right: 20px; 
			margin-top: 100px;
			
			
		}
		h1 {
			text-align: center; 
			text-transform: uppercase;
			letter-spacing: 10px;
		}
		#main-top {
		
			height: 500px;			
		}
		#top-left{
			float: left;
			display: inline;
			width: 50%; 
			text-align: left;
			height: 500px;
			background-color: #d88081;
			
		}
		#top-left-con {
			float: left;
			display: inline;
			width: 50%; 
			text-align: left;
			height: 440px;
			background-color:#f6cbbc;
		}
		#top-right-con {
			float: right;
			width: 50%;  
			display: inline;
			height: 440px;
		}
		#top-left-con p{
			font-size: 20px;
			line-height: 2;
			margin-left: 20px;
			
		}
		#top-left-con a:hover {
			color: #981826;
		}
		#top-left-con a {
			color: grey;
		}
		.bold {
			font-weight: bold;
			text-transform: uppercase;
		}
		#top-left h1 {
			font-size: 55px;
			padding-left: 30px;
			text-align: left;
		}
		#call-main {
			margin-bottom: 50px;
			margin-right: 30px;
			float: right; 
		}
		#call-home {
			white-space: nowrap;
			background-color: #981826;
			color: #ecc5a2;
			text-decoration: none;
			border-radius: 7px;
			border-style: outset;
			line-height: 25px;
			border-width: 2px;
			text-transform: uppercase;
			    font-size: 13px;
				font-weight: 700;
				letter-spacing: 1.86px;
				  padding: 15px 25px; 
		}
		#call-home:hover {
			background: lightblue;
			color: grey;
			border-style: inset;
			border-color: lightsteelblue;
			cursor: pointer;
		}
		#top-right{
			float: right;
			width: 50%;  
			display: inline;
		}
		
		
		.home-pic {
			width: 500px;
			padding-left: 100px; 
		}
		#main-bottom {
			display: inline-block;
			margin-top: 40px;
			margin-bottom: 40px;
			width: 100%;
			text-align: center;
			
		} 
		#main-bottom a:hover {
			opacity: 0.5;
		}
		#main-bottom img {
			width: 300px;
			height: 300px;
			/*display: inline-block;*/
		}
		#main-bottom h2 {
			text-align: center;
			letter-spacing: 2.0px;
			
			
		}
		figure {
			display: inline-block; 
			 
			
		}
		figcaption {
				margin: 10px 0 0 0;
				font-variant: small-caps;
				font-weight: bold;
				color: grey;
				font-size: 25px;
			}
		#projects-pic {
			
			margin-right: 60px;
		}
		#blog-pic {
			margin-left: 60px; 
		}
		#box {
			background-color: #f6cbbc;
		}
		table{
			width: 100%;
			 background-color: #f6cbbc;
		}
		td{
			padding: 10px;
		}
		#pictures-port img{
			width: 300px;
			height: 300px;
		}
		.zoom {
		  padding: 50px;
		  transition: transform .2s; /* Animation */
		  width: 200px;
		  height: 200px;
		  margin: 0 auto;
		}

		.zoom:hover {
		  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
		}
		#call-port {
			margin-top: 20px;
			text-align: center;
			line-height: 1.5;
			font-size: 25px;
			letter-spacing: 1.5px;
		}
		#call-port a{
			color: grey;
		}
		#call-port a:hover {
			color: #ecc5a2;
		}
		footer {
			text-align: center;
			font-weight: bold;
			font-size: 8px;
			padding-top: 2px;
			padding-bottom:2px;
			background-color: #d88081;
		
			
		}
	
		input[type=text], select, textarea {
		  width: 100%; /* Full width */
		  padding: 12px; /* Some padding */  
		  border: 1px solid #ccc; /* Gray border */
		   /* Rounded borders */
		  box-sizing: border-box; /* Make sure that padding and width stays in place */
		  margin-top: 6px; /* Add a top margin */
		  margin-bottom: 16px; /* Bottom margin */
		  resize: vertical;		  /* Allow the user to vertically resize the textarea (not horizontally) */
		  color: black !important;
		}

		/* Style the submit button with a specific background color etc */
		input[type=submit] {
		  background-color: #981826;
		  color: black;
		  padding: 12px 20px;
		  border: none;
		  border-radius: 4px;
		  cursor: pointer;
		}

		/* When moving the mouse over the submit button, add a darker green color */
		input[type=submit]:hover {
		  background-color: lightblue;
		  color: grey;
		}

		/* Add a background color and some padding around the form */
		.contact-form {
		  
		  background-color: #ecc5a2;
		  padding: 20px;
		}
		.contact-form input, textarea {
			color: rgba(255,255,255,1);
			text-transform: uppercase;
			line-height: 1.8;
			letter-spacing: 0.2em;
			font-size: 10px;
			text-align: left;
			font-family: 'Futura Bold';
			font-weight: 700;
			font-style: normal;
		}
		
		.contact-pic {
			width: 100%;
		}
		.icon {
			width: 30px;
			display: inline;
			position: relative;
			top: 8px;
			
		}